doctype xml
doctype html

html(xmlns="http://www.w3.org/1999/xhtml", xmlns:epub="http://www.idpf.org/2007/ops")
  head
    title Cover
    mete(name="generator", content="https://github.com/404-novel-project/novel-downloader")
  body
    div(style="text-align: center; padding: 0pt; margin: 0pt")
      svg(
        xmlns="http://www.w3.org/2000/svg",
        height="100%",
        preserveAspectRatio="xMidYMid meet",
        version="1.1",
        viewBox="0 0 " + width + " " + height,
        width="100%",
        xmlns:xlink="http://www.w3.org/1999/xlink"
      )
        image(width=width, height=height, xlink:href=path)
